@charset "UTF-8";

h1{
    background-color: greenyellow;
    color: green;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
}

h1#principal{
    color: teal;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 60px;
}

h2{
    color: greenyellow;
}